header {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--header-text-color);
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile {
    display: none;
}

.container,
.container-three {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 100%;
    @media only screen and (max-width: 767px) {
        width: 95%;
        padding: 1rem 0;
        font-size: 10px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 1rem 0;
    }
}

.top-container,
.mid-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--header-border-color);
    background-color: var(--header-bg-color);
}

.right {
    text-align: right;
}

.left {
    text-align: left;
    width: 50%;
}

a {
    color: var(--header-text-color);
}

.form-input {
    width: 45%;
    @media only screen and (max-width: 767px) {
        width: 60%;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 40%;
    }
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input {
    height: 40px;    
    padding-left: 1rem;
    outline: none;
    font-family: inherit;
    width: 100%;
    @media only screen and (max-width: 767px) {
        padding-left: .4rem;
        height: 30px;
        font-size: 10px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding-left: .5rem;
        font-size: 12px;
    }
}

button {
    border: none;
    margin: auto;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--search-btn-bg);
    padding: .7rem;
    @media only screen and (max-width: 767px) {
        padding: .4rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding-left: .5rem;
    }
}

button:hover {
    opacity: 0.9;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.link-container {
    display: flex;
    gap: 0.4rem;
}

.link-container img {
    width: 25px;
}

.link-container > span {
    margin-top: 0.5rem;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.cart-count {
    display: grid;
    place-items: center;
    background-color: var(--header-text-color);
    color: var(--header-bg-color);
    border-radius: 35%;
    padding: 0 0.3rem;
    font-weight: bold;
}

.bottom-container {
    background-color: var(--bottom-header-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.container-three {
    justify-content: flex-start;
    gap: 3rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--header-text-color);
}

.active-link {
    color: var(--search-btn-bg);
}

@media only screen and (max-width: 767px) {
    .desktop {
        display: none;
    }

    .logo-container {
        width: 30%;
        display: flex;
        align-items: flex-start;
    }
    
}